@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .nav-link {
    @apply relative text-base font-light text-dark-400 hover:text-dark-500 dark:text-dark-300 dark:hover:text-dark-200;
  }
  .mobile-nav-link {
    @apply relative text-2xl font-light text-dark-400 hover:text-dark-500 dark:text-dark-200 dark:hover:text-dark-100;
  }
  .nav-link::before,
  .mobile-nav-link::before {
    content: "";
    @apply absolute left-0 -bottom-0.5 h-[1px] w-full origin-right scale-x-0 bg-dark-200 transition-transform duration-300 ease-in-out dark:bg-dark-400;
  }
  .nav-link:hover::before,
  .mobile-nav-link:hover::before,
  .active-nav-link::before {
    @apply origin-left scale-x-100;
  }
}

html {
  scroll-behavior: smooth;
}
body {
  background-color: #171717;
}

.container {
  width: 250px;
  height: 250px;
  margin: 0 auto;
  background: transparent;
  z-index: -20;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(1);
}
@media (min-width: 640px) {
  .container {
    z-index: -20;
    transform: scale(2.5);
  }
}

@media (min-width: 1024px) {
  .container {
    margin-right: 190px;
    z-index: -20;
    transform: scale(2.5);
  }
}

.react-logo {
  display: inline-block;
  border-radius: 50%;
  /* border: 10px solid #b32c2c; */
  animation-name: rotate;
  animation-duration: 60s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.react-logo,
.react-logo:before,
.react-logo:after {
  position: absolute;
  display: inline-block;
  width: 200px;
  height: 70px;
  z-index: -20;
  opacity: 0.5;
  border-radius: 50%;
  border: 10px solid #454545;
}

.nucleo,
.react-logo,
.react-logo:before,
.react-logo:after {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nucleo {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: #454545;
  opacity: 0.7;
}

.react-logo:before,
.react-logo:after {
  content: "";
}

.react-logo:after {
  transform: rotate(-57deg);
}

.react-logo:before {
  transform: rotate(57deg);
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
