@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    @apply dark:bg-dark-800 bg-white;
  }
  .nav-link {
    @apply relative text-base font-light text-dark-400 hover:text-dark-500 dark:text-dark-300 dark:hover:text-dark-200;
  }
  .mobile-nav-link {
    @apply relative text-2xl font-light text-dark-400 hover:text-dark-500 dark:text-dark-200 dark:hover:text-dark-100;
  }
  .nav-link::before,
  .mobile-nav-link::before {
    content: "";
    @apply absolute left-0 -bottom-0.5 h-[1px] w-full origin-right scale-x-0 bg-dark-200 transition-transform duration-300 ease-in-out dark:bg-dark-400;
  }
  .nav-link:hover::before,
  .mobile-nav-link:hover::before,
  .active-nav-link::before {
    @apply origin-left scale-x-100;
  }
}

html {
  scroll-behavior: smooth;
}

.container {
  width: 250px;
  height: 250px;
  margin: 0 auto;
  background: transparent;
  z-index: -20;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.5;
}
@media (min-width: 640px) {
  .container {
    z-index: -20;
    transform: scale(2.5);
  }
}

@media (min-width: 1024px) {
  .container {
    margin-right: 190px;
    z-index: -20;
    transform: scale(2.5);
  }
}

.react-logo {
  display: inline-block;
  border-radius: 50%;
  /* border: 10px solid #b32c2c; */
  animation-name: rotate;
  animation-duration: 60s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.react-logo,
.react-logo:before,
.react-logo:after {
  position: absolute;
  display: inline-block;
  width: 200px;
  height: 70px;
  z-index: -20;
  opacity: 0.7;
  border-radius: 50%;
  border: 10px solid #454545;
}

.nucleo,
.react-logo,
.react-logo:before,
.react-logo:after {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nucleo {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: #454545;
  opacity: 0.5;
}

.react-logo:before,
.react-logo:after {
  content: "";
}

.react-logo:after {
  transform: rotate(-57deg);
}

.react-logo:before {
  transform: rotate(57deg);
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

.waves {
  position: relative;
  width: 100%;
  height: 300px;
  margin-bottom: -7px; /*Fix for safari gap*/
  min-height: 100px;
  max-height: 5000px;
}
/* @media (min-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }
} */

/* Animation */

.parallax > use {
  animation: move-forever 50s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 15s;
  opacity: 0.5;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 20s;
  opacity: 0.5;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 25s;
  opacity: 0.5;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 30s;
  opacity: 0.5;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }
  .content {
    height: 30vh;
  }
  h1 {
    font-size: 24px;
  }
}
